body {
    margin: 0;
    padding: 0;
    min-height: 95vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

#downloader {
    text-align: center; /* Pour centrer le contenu à l'intérieur de la div */
    background-color: rgba(255, 0, 0, 0.6);
    padding: 10px 20px 20px;
    border-radius: 10px;
    color: white;
}

#yt_title {
    margin: 0 0 20px;
    top: 0;
}

input {
    border-radius: 10px;
    padding: 5px;
    outline: none;
    border: 0;
}

button {
    border-radius: 10px;
    padding: 5px;
    outline: none;
    background-color: #f0f0f0;
    border: 0;
    cursor: pointer;
}
button:hover {
    color: #f0f0f0;
    background-color: #1e293b;
}

footer {
    position: absolute;
    font-size: 75%;
    bottom: 0;
    width: 98%;
    background-color: #f0f0f0;
    padding: 10px;
}
